
# Ignore drushrc files, these should be symlinked to the appropriate 
# environment settings in sites/*.com/
/www/drushrc.php
/www/sites/all/drush/drushrc.php

# Ignore default settings.php, you may symlink this to the appropriate
# environment settings in sites/*.com/settings.php
/www/sites/default/settings.php

# Ignore environment specific site files (files folder should be moved 
# to Drupal root, for shared files experience).
/www/sites/*/files
/www/sites/*/private
