/* This file will hold the main styles for your website. */


body {
	background: #fff url("/sites/all/themes/lynchburg/images/bg-body-top.jpg") repeat-x top left;
	color:#000;
/*	margin:0;
	padding:0;
*/
}

h1, h2, h3, h4, h5, h6 {
	background:transparent;

}




/*************************
 *  footer area          *
 *************************/

footer#section-footer {
	background: #202022;
	color:#acacac;
	
}


footer#section-footer h1, footer#section-footer h2, footer#section-footer h3, footer#section-footer h4, footer#section-footer h5, footer#section-footer h6 {
	color:#f1f1f1;
}
 
footer#section-footer h2 {
	border-bottom:solid 1px #5b5b5b;
	font-family:arial, sans-serif;
	font-size:16px;
	font-weight:normal;
}

footer#section-footer ul {
	list-style-type:none;
}


.grid12 {
	width:960px;
}