/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/*moved over from normal.css*/
/* This file will hold styles that are loaded using the same media query as the normal grid. */

/******************************
1. HOMEPAGE HEADER
2. TABS AND HOMEPAGE SPECIFIC CONTENT STYLES
3. JCarousel "What's Happening" Rotator 
4. SPECIFIC BODY STYLES
5. FOOTER REGION
6. MISC
 ******************************/



/******************************
        HOMEPAGE HEADER   
 ******************************/
body {
	background: #f9f9f9 url(../images/bg-body-top3.jpg) repeat-x top left;
}
.section-header {
	/*width:1500px;*/
	height:142px;
	margin:0 auto;
	padding:0;
	background: transparent url(../images/bg-header-arch.jpg) no-repeat top center;
	filter:none;
}
.region-user-second-inner {
	padding: 20px 0 0 10px;
}
.zone-branding {
	height: 47px;
}
.zone-menu-wrapper {
	background:none;
	filter:none;
	padding: 0;
}
.region-user-second {
	height:30px;
}
#section-content {
	clear:both;
}
body.front {
	background:#f9f9f9 url(../images/home/bg-stripe-home1.jpg) repeat-x top left;
}
.front .section-header {
	margin:0 auto;
	height: 450px;
	background:transparent url(../images/home/big-image4.jpg) no-repeat top center;
}
.front .section-content {
	background: transparent url(../images/home/convex-curve.png) no-repeat top center;
	margin:0 auto;
	margin-top:-23px;
}
.front .zone-content-wrapper {
	background:#f9f9f9 url(../images/home/bg3-home.jpg) no-repeat bottom center;
	margin-top:-8px;
}


/**********************************************
 * SITEWIDE TOP MENU *
**********************************************/
/* ========== MAIN NAV DROPDOWN ========== */
.qtip, .qtip-wrapper, .qtip-contentWrapper{
	-webkit-border-radius:0em 0em .5em .5em;
	-moz-border-radius:0em 0em .5em .5em;
	-o-border-radius:0em 0em .5em .5em;
	-ms-border-radius:0em 0em .5em .5em;
	border-radius:0em 0em .5em .5em;
}
.qtip-wrapper{
	border-bottom:#dddedf solid 1px;
	border-right:#dddedf solid 1px;
	border-left:#dddedf solid 1px;
	 box-shadow:0 3px 6px 0 rgba(31, 31, 31, .2);
	-webkit-box-shadow:0 3px 6px 0 rgba(31, 31, 31, .2);
	-moz-box-shadow:0 3px 6px 0 rgba (31, 31, 31, .2);
	-khtml-box-shadow:0 3px 6px 0 rgba (31, 31, 31, .2);
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
}
.qtip a {
		text-decoration:underline;
}
.qtip a:hover, .qtip a:visited {
		text-decoration:none;
}
#mini-panel-alumni_megamenu, #mini-panel-apply_megamenu, #mini-panel-visit_megamenu_block, #mini-panel-athletics_megamenu{
	padding:20px 0px 0px 20px;
}
/*dropdown inside*/
#mini-panel-undergraduate_megamenu .pane-content,#mini-panel-undergraduate_megamenu, #mini-panel-graduate_megamenu, #mini-panel-student_life_megamenu, #mini-panel-alumni_megamenu, #mini-panel-athletics_megamenu, #mini-panel-apply_megamenu, #mini-panel-visit_megamenu_block {
	/*margin:10px;*/
	line-height:15px;
	font-size:12;
	border-top:none;
}
.menu-minipanels .pane-title, .pane-node-field-links .pane-title {
	font-size:1.333em;
	line-height:1em;
	color:#900900;
}
#mini-panel-undergraduate_megamenu li, #mini-panel-graduate_megamenu li, #mini-panel-student_life_megamenu li, #mini-panel-alumni_megamenu li, #mini-panel-athletics_megamenu li, #mini-panel-apply_megamenu li, #mini-panel-visit_megamenu li {
	list-style:none;
	line-height:15px;
}
/* ========== UNDERGRADUATE DROPDOWN ========== */
.menu-button {
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	-o-border-radius:.5em;
	-ms-border-radius:.5em;
	border-radius:.5em;
	padding:20px 20px 10px 20px;
	margin:20px;
	background:#f0f0f0; /* Old browsers */
}
#mini-panel-undergraduate_megamenu table, #mini-panel-graduate_megamenu table,   #mini-panel-student_life_megamenu table {
	background:#fff;
	margin:0;
	border:none;
	border-right:#dddedf solid 1px;
}
#mini-panel-undergraduate_megamenu th, #mini-panel-graduate_megamenu th, #mini-panel-student_life_megamenu th, #mini-panel-student_life_megamenu .grid-3 {
	padding:20px 20px 0px 20px;
	/*border-top:none;*/
}
#mini-panel-undergraduate_megamenu td, #mini-panel-graduate_megamenu td, #mini-panel-student_life_megamenu td {
	padding:10px 20px 10px 20px;
}
#mini-panel-undergraduate_megamenu .grid-9, #mini-panel-graduate_megamenu .grid-9, #mini-panel-student_life_megamenu .grid-9{
	margin-left:0;
	margin-right:0;
}
.main-menu-undergraduate-lists, .main-menu-undergraduate-lists tbody {
	background-color:#fff;
	border:0px;
}
.main-menu-undergraduate-lists .bottom-more-row{
	padding:10px 0 10px 0;
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}
.main-menu-undergraduate-lists .bottom-more-row td {
	border-top:#dddedf solid 1px;
	-webkit-border-radius:0em 0em 0em .5em ;
	-moz-border-radius:0em 0em 0em .5em;
	-o-border-radius:0em 0em 0em .5em;
	-ms-border-radius:0em 0em 0em .5em;
	border-radius:0em 0em 0em .5em;
}

.main-menu-undergraduate-lists .bottom-more-row a {
	background:url(../images/icons/small/media_controls_forward_small.png) no-repeat center left;
	padding-left:20px;
	text-decoration:none;
}
.main-menu-undergraduate-lists .bottom-more-row a:hover {
	background:url(../images/icons/small/media_controls_forward_small_hover.png) no-repeat center left;
}
/*undergraduate titles*/
.main-menu-undergraduate-lists th{
	background:#fff;
	border:0;
	font-size:1.4em;
	line-height:1em;
	color:#900900;
}
.main-menu-undergraduate-lists tr:hover td, .main-menu-undergraduate-lists tr.even:hover td.active, .main-menu-undergraduate-lists tr.odd:hover td.active {
	background:#fff;		
}
.main-menu-undergraduate-lists tr.bottom-more-row:hover td, .main-menu-undergraduate-lists tr.bottom-more-row:hover td.active {
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:0em 0em 0em .5em ;
	-moz-border-radius:0em 0em 0em .5em;
	-o-border-radius:0em 0em 0em .5em;
	-ms-border-radius:0em 0em 0em .5em;
	border-radius:0em 0em 0em .5em;
}

.megamenu-grid3-width { max-width:150px; }

#graduate-programs-certificates { max-width:400px; }

#athletics-stories-feed, #athletics-events-feed, .megamenu-athletics-pane { max-width: 250px; }

.view-athletics-schedule li { margin-bottom:15px; }


/**********************************************
 * TABS AND HOMEPAGE SPECIFIC CONTENT STYLES  *
**********************************************/
/* A extra quicktabs content whitespace on normal view. */
.region-content .quicktabs_main {
	min-height:220px;
	padding:20px;
	margin:0;
}

/** Quicktab customizations for normal view ***/
/*#quicktabs-undergraduate_admission_tabs .item-list ul {
	width:380px;
}
#quicktabs-library_tabs .item-list ul {
	width:460px;
}
#quicktabs-undergraduate_admission_tabs ul li {
	background:none;
}
#quicktabs-undergraduate_admission_tabs ul li::after {
	background:none;
}

.pane-quicktabs-undergraduate-admission-tabs {
	width:380px;
	max-width:380px;
	margin-bottom:20px;
}
.pane-quicktabs-library-tabs {
	width:460px;
	max-width:460px;
}*/

.block-views-calendar-block-1 {
	margin:0 15px;
}


/**********************************************
    JCarousel "WHAT"S HAPPENING \" ROTATOR
 **********************************************/
/* original CSS and icons by Nathan Haug, included with JCarousel plugin
 * modified by KMB */

.pane-jcarousel-article-rotation {
	height:190px;
	overflow:hidden;
	padding:0 0px 96px 0px;
	margin:0;
	background:transparent url(../images/shadow-home-news.png) no-repeat bottom center;
}
.jcarousel-skin-default {
	text-align: left;
	/*background:#fff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #edeef2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#edeef2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#edeef2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#edeef2 100%); 
	background: -ms-linear-gradient(top,  #ffffff 0%,#edeef2 100%); 
	background: linear-gradient(top,  #ffffff 0%,#edeef2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeef2',GradientType=0 );*/
}
.jcarousel-skin-default .jcarousel-container-horizontal {
	width: 860px;
	height: 190px;
	overflow:hidden;
	background:transparent url(../images/shadow-carousel-inner.png) no-repeat bottom center;
}
.jcarousel-skin-default .jcarousel-clip-horizontal {
	width: 860px;
	overflow: hidden;
}
.jcarousel-skin-default .jcarousel-item {
	padding:0px;
	height: 180px;
	overflow: hidden;
	list-style: none;
	border:0px;
	/*background: #fff none;*/
}
.jcarousel-skin-default .jcarousel-item-horizontal {
	margin: 0 4px 0px 4px;
}
/* Content Items */
.jcarousel li, .views-field-field-image {
	width:260px;
}
.jcarousel .views-field-field-image {
	margin:0;
	padding:0;
}
.jcarousel .views-field-field-image:hover {
	cursor:pointer;
	margin-bottom:-69px;
	
}
.jcarousel .views-field-body:hover {
	cursor:pointer;
	margin-top:-69px;
}
.jcarousel .views-field-body {
	cursor:pointer;
	position:relative;
	margin-bottom:10px;
	padding:10px 10px 20px 10px;
	width:260px;
	background:transparent url(../images/home/alpha-gray.png);
	color:#c6c6c6;
}
.jcarousel .views-field-view-node { display:none;}

/*Horizontal Buttons */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
	display: block;
	width: 33px;
	height: 33px;
	background-image: url(../images/home/arrows.png);
}
.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
	display: none;
}
.jcarousel-skin-default .jcarousel-prev-horizontal {
	position: absolute;
	top: 90px;
	left: 10px;
	background-position: 0 0;
	margin-left:-15px;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
	background-position: -32px 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
	position: absolute;
	top: 90px;
	right: 10px;
	background-position: 0 -32px;
	margin-right:-15px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
	background-position: -32px -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
	background-position: -64px -32px;
}



/****************************
    SPECIFIC BODY STYLES
*****************************/
.news-page-thumbnail-image {
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
.view-news-stories-by-date .view-content .views-row {
	margin-bottom:20px;
}
#campus-life-left {
	height:250px;
	width:inherit;
}
#student-activities-left {
	height:500px;
	width:inherit;
	color:inherit;
}
.view-lc-events .view-content .views-row {
	margin-bottom:15px;
}
.field-name-field-headshot {
	margin-bottom: 20px;
}
.news-page-thumbnail-image a img {
	border:solid 1px #242424;
}
.view-news-stories-by-date .view-content .views-row {
	margin-bottom:30px;
}


/******************************
        FOOTER REGION   
 ******************************/
#region-footer-first, #region-footer-first div.content {
	height:60px;
}
#region-footer-second {
	clear:both;
}
#tour-flickr {
	width: 500px;
	height: 399px;
	border:3px solid #666;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-collapse:inherit;
	-moz-box-shadow:0 1px 3px #000;
	-webkit-box-shadow:0 1px 3px #000;
	box-shadow:0 1px 3px #000;
}
#tour-left { float:left; margin-right:30px; margin-bottom:30px; }
#tour-middle { float:left; margin-right:30px; }
#tour-right {}

/******************************
        MISC STYLES   
 ******************************/


