/* This file will hold styles that are loaded using the same media query as the normal grid. */

body {
	background: #f9f9f9 url(../images/bg-body-top3.jpg) repeat-x top left;
}
.section-header {
	/*width:1500px;*/
	height:142px;
	margin:0 auto;
	padding:0;
	background: transparent url(../images/bg-header-arch.jpg) no-repeat top center;
}

.region-user-second-inner {
	float: right;
	padding: 20px 64px 0 0px;
}

.zone-menu-wrapper {
	margin-top: -33px;
	background:none;
	filter:none;
	padding: 0;
}

#megamenu-studentlife {
	margin-right: 330px;
}


h2.pane-title {
	font-size:20px;
	line-height:24px;
}

/******************************
 *  HOMEPAGE HEADER           *
 ******************************/

body.front {
	background:#f9f9f9 url(../images/home/bg-stripe-home1.jpg) repeat-x top left;
}

.front .section-header {
	margin:0 auto;
	height: 450px;
	background:transparent url(../images/home/big-image2.jpg) no-repeat top center;
 }

.front .section-content {
	background: transparent url(../images/home/convex-curve.png) no-repeat top center;
	margin:0 auto;
	margin-top:-22px;
 }

.front .zone-content-wrapper {
	background:#f9f9f9 url("../images/bg3.jpg") no-repeat bottom center;
}



/**********************************************
 * TABS AND HOMEPAGE SPECIFIC CONTENT STYLES  *
 **********************************************/

/* custom lc-rounded style has border radius and rounded corners */
.region-content .pane-plain-box-lc-rounded-pane,
.region-content .region-plain-box-lc-rounded-region,
.region-content .pane-plain-box-lc-rounded-pane .pane-content,
.region-content .region-plain-box-lc-rounded-region .rounded-shadow-background {
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
}

.region-content .region-plain-box-lc-rounded-region,
.region-content .pane-plain-box-lc-rounded-pane {
	min-height: 100px;
	padding:0;
	margin:0;
	position: relative;

/* Shadow */
	-moz-box-shadow: 3px 3px 4px #dddedf;
	-webkit-box-shadow: 3px 3px 4px #dddedf;
	box-shadow: 3px 3px 4px #dddedf;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#dddedf')"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#dddedf'); /* IE 5.5 - 7 */
}

.region-content .region-plain-box-lc-rounded-region .rounded-shadow-background,
.region-content .pane-plain-box-lc-rounded-pane .pane-content {
/* background */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 74%, #f7f8fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(74%,#ffffff), color-stop(100%,#f7f8fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 74%,#f7f8fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 74%,#f7f8fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 74%,#f7f8fc 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 74%,#f7f8fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f8fc',GradientType=0 ); /* IE6-9 */
}

/*
.region-content .pane-plain-box-lc-rounded-pane:before,
.region-content .pane-plain-box-lc-rounded-pane:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}

.region-content .pane-plain-box-lc-rounded-pane:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	right: 10px;
	left: auto;
}
*/
.region-content .region-plain-box-lc-rounded-region .lc-title-bar,
.region-content .pane-plain-box-lc-rounded-pane .quicktabs-tabs {
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;

	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
}


.front .region-content .lc-title-bar,
.front .region-content .quicktabs-tabs/*,
#quicktabs-undergraduate_admission_tabs .item-list ul*/{
	min-height:23px;
	margin:0px;
	padding: 8px 2px 0;
	/* for non-css3 browsers */
	background: #790600;
	/* for IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0900', endColorstr='#5a0500');
	/* for webkit browsers */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8f0900), to(#5a0500), color-stop(.6, #790600));
	/* for firefox 3.6+ */
	background: -moz-linear-gradient(25% 87% 90deg, #5a0500, #790600, #8f0900 100%);
}

.front .region-content .lc-title-bar,
.front .region-content .lc-title-bar a,
.front .region-content .lc-title-bar p,
.front .region-content .lc-title-bar h2,
.front .region-content .quicktabs-tabs a {
	color:#f9f9f9;
}

.front .region-content .quicktabs_main {
	height:220px;
	padding:20px;
	margin:0;
}

#quicktabs-undergraduate_admission_tabs .item-list ul {
	width:380px;
}
#quicktabs-library_tabs .item-list ul {
	width:460px;
}
#quicktabs-undergraduate_admission_tabs ul li {
	background:none;
}
#quicktabs-undergraduate_admission_tabs ul li::after {
	background:none;
}
#quicktabs-home_page_tabs li, #quicktabs-undergraduate_admission_tabs li, #quicktabs-library_tabs li {
	margin:0px;
	margin-left:5px;
	padding:6px 9px 8px 9px;
}
#quicktabs-home_page_tabs li a:link, #quicktabs-undergraduate_admission_tabs li a:link, #quicktabs-library_tabs li a:link {
	color:#fff;
}
#quicktabs-home_page_tabs li:hover, #quicktabs-undergraduate_admission_tabs li:hover, #quicktabs-library_tabs li:hover {
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom:none;
	background:#fff;
}
#quicktabs-home_page_tabs li:hover a, #quicktabs-undergraduate_admission_tabs li:hover a, #quicktabs-library_tabs li:hover a{
	color:#27282d;
}
#quicktabs-home_page_tabs li.active, #quicktabs-undergraduate_admission_tabs li.active, #quicktabs-library_tabs li.active {
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom:none;
	background:#fff;
}
#quicktabs-home_page_tabs li.active a, #quicktabs-undergraduate_admission_tabs li.active a, #quicktabs-library_tabs li.active a {
	color:#27282d;
}
/*
.pane-quicktabs-home-page-tabs, .pane-quicktabs-undergraduate-admission-tabs, .pane-quicktabs-library-tabs {
	max-width:508px;
	min-height:274px;
	-moz-box-shadow: 3px 3px 4px #dddedf;
	-webkit-box-shadow: 3px 3px 4px #dddedf;
	box-shadow: 3px 3px 4px #dddedf;
	/* For IE 8 */
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#dddedf')";
	/* For IE 5.5 - 7 */
/*	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#dddedf');
	background:#fff url("../images/bg-audience.jpg") no-repeat bottom center;
}*/

.pane-quicktabs-undergraduate-admission-tabs {
	width:380px;
	max-width:380px;
	margin-bottom:20px;
}
.pane-quicktabs-library-tabs {
	width:460px;
	max-width:460px;
}

#whats-happening h2 {
	float:left;
	font-size:14px;
	margin: 0px 0px 0 10px;
	line-height: 1.2em;
}
#whats-happening ul {
	position:absolute;
	top:0;
	right:0;
	padding-left: 19px;
	height:31px;
	background: url(../images/home/bg-more-news.png) no-repeat top left;
}
#whats-happening ul a {
	padding:2px 10px
}
#whats-happening ul a:hover {
	text-decoration:underline;
}

.block-views-calendar-block-1 {
	margin:0 15px;
}

/****************************************/
/* JCarousel "What's Happening" Rotator */


/**
 * original CSS and icons by Nathan Haug, included with JCarousel plugin
 * modified by KMB
 */

.pane-jcarousel-article-rotation {
	height:190px;
	overflow:hidden;
	margin-bottom:20px;
}

.jcarousel-skin-default {
	text-align: center;
	border:solid 1px #00f;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
	width: 890px;
	height: 182px;
	padding: 20px 40px;
	margin: auto;
	overflow:hidden;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
	width: 890px;
	overflow: hidden;
}

.jcarousel-skin-default .jcarousel-item {
	padding: 0;
	width: 268px;
	height: 180px;
	overflow: hidden;
	border: 1px solid #CCC;
	list-style: none;
	background: #fff none;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
	margin: 0 4px;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
	background: #fff url("../images/throbber.gif") no-repeat center center;
	color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("../images/home/arrows.png");
}

.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
	display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
	position: absolute;
	top: 55px;
	left: 10px;
	background-position: 0 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
	background-position: -32px 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
	position: absolute;
	top: 55px;
	right: 10px;
	background-position: 0 -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
	background-position: -32px -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
	background-position: -64px -32px;
}



/**
 * Content Items
 */

.jcarousel li, .views-field-field-image {
	width:280px;
	z-index:-100;
}

.jcarousel .views-field-field-image {
}

.jcarousel .views-field-field-image:hover {
	margin-bottom:-75px;
}

.jcarousel .views-field-body {
	margin-top:10px;
	width:260px;
	padding:10px;
	background: url(../images/home/alpha-gray.png);
	color:#fff;
	z-index:100;
}

.jcarousel .views-field-view-node { display:none; }

/****
 * Verticle styles - not using
 */
/*
.jcarousel-skin-default .jcarousel-clip-vertical {
	height: 440px;
	overflow: hidden;
}

.jcarousel-skin-default .jcarousel-container-vertical {
	width: 890px;
	height: 440px;
	padding: 40px 20px;
	margin: auto;
}

.jcarousel-skin-default .jcarousel-item-vertical {
	margin: 4px 0;
}
*/
/**
 * Vertical Buttons
 *
.jcarousel-skin-default .jcarousel-prev-vertical {
	position: absolute;
	top: 10px;
	left: 55px;
	background-position: 0 -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:hover {
	background-position: -32px -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:active {
	background-position: -64px -64px;
}

.jcarousel-skin-default .jcarousel-next-vertical {
	position: absolute;
	bottom: 10px;
	left: 55px;
	background-position: 0 -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:hover {
	background-position: -32px -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:active {
	background-position: -64px -96px;
}

.jcarousel-skin-default .jcarousel-navigation {
	margin: 0;
	padding: 0;
}

.jcarousel-skin-default .jcarousel-navigation li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	background: none;
}

.jcarousel-skin-default .jcarousel-navigation li.active a {
	font-weight: bold;
	text-decoration: none;
}
*/
