/* This file will hold styles that are loaded using the same media query as the narrow grid. */


/*****************/
/* header region */
/*****************/

/* this should be unnecessary when we are done. */
.region-user-first-inner {
	display:none;
}

.region-user-second {
	height:30px;
}

#section-content {
	clear:both;
}

/****************
* specific body styles *
*****************/

.news-page-thumbnail-image {
	float:left;
	margin-right:10px;
	margin-bottom:5px;
	border:solid 1px #000;
}
.view-news-stories-by-date .view-content .views-row {
	margin-bottom:20px;
}
#campus-life-left {
	height:250px;
	width:inherit;
}
#student-activities-left {
	height:500px;
	width:inherit;
	color:inherit;
}

.view-lc-events .view-content .views-row {
	margin-bottom:15px;
}

#tour-flickr {
	width: 500px;
	height: 399px;
	border:3px solid #666;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-collapse:inherit;
	-moz-box-shadow:0 1px 3px #000;
	-webkit-box-shadow:0 1px 3px #000;
	box-shadow:0 1px 3px #000;
}
#tour-left { float:left; margin-right:30px; margin-bottom:30px; }
#tour-middle { float:left; margin-right:30px; }
#tour-right {}

/*****************/
/* footer region */
/*****************/

#region-footer-first, #region-footer-first div.content {
	background:transparent;
	height:60px;
}


#region-footer-second {
	clear:both;
}
