@charset "utf-8";
/* CSS Document */

/* ========== LIST STYLES ========== */
ol, ul{
	list-style:none;
	margin:0 0 1em;
	padding: 0;
}
ul li, ol li {
	margin:0;
	padding:0.5em 0;
}
ul li a, ol li a {
	text-decoration:none;
}
/* ========== ORDERED LISTS ========== */
ol.ordered {
	padding-left: 2.1em;
}
ol.type-1 {
	list-style: decimal-leading-zero;
}
ol.type-2 {
	list-style: decimal;
}
/* ========== UNORDERED LISTS ========== */
ul.unordered li{
	list-style:none;
	padding-left: 2.1em;
	background-position: 0 0.6em;
	background-repeat: no-repeat;
}
ul.unordered.type-1 li {
	background-image: url("../images/tick.png");
}
ul.unordered.type-2 li {
	background-image: url("../images/arrow_state_blue_right.png");
}
ul.unordered.type-3 li {
	background-image: url("../images/media_controls_forward_small.png");
}
ul.unordered.type-4 li {
	background-image: none;
	background:none;
	padding-left: 0;
}
ul.unordered.type-5 li{
	background-image: url("../images/icons/small/arrow_state_gray_right.png");
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ========== QUOTES ========== */

.quoteBox-big {
	padding:0;
	margin-bottom:-25px;
}
.quote-author {
	margin-top:10px;
	text-align:right;
	font-style:italic;
	font-size:12px;
	line-height:16px
	color:#ff7706;
}
.quote-text {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#303030;
	font-style:italic;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
}
/* ========== IMAGE & BORDERS ========== */
.image, .imageTopLeft, .imageTopRight, .imageLeft, .imageRight, .imageCenter, .field-name-field-headshot img {
	padding:3px;
	background:#fff;
	-moz-box-shadow: 1px 2px 3px rgba(230, 230, 230, 0.8), -1px -1px 3px rgba(230, 230, 230, 0.8);
	-webkit-box-shadow: 1px 2px 3px rgba(230, 230, 230, 0.8), -1px -1px 3px rgba(230, 230, 230, 0.8);
	box-shadow: 1px 2px 3px rgba(230, 230, 230, 0.8), -1px -1px 3px rgba(230, 230, 230, 0.8);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:relative;
	behavior: url(js/PIE.htc);
}
.image:hover, .imageTopLeft:hover, .imageTopRight:hover, .imageLeft:hover, .imageRight:hover, .imageCenter:hover, .field-name-field-headshot img {
	background:#e0e1e0;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}
.imageTopLeft {
	float:left;
	margin:4px 20px 10px 0;
}
.imageTopRight {
	float:right;
	margin:4px 0 10px 20px;
}
.imageLeft {
	float:left;
	margin:20px 20px 20px 0;
}
.imageRight {
	float:right;
	margin:20px 0 20px 20px;
}
.imageCenter, .field-name-field-headshot img {
	display: block;
	margin: 20px auto 20px;
}
/* ========== IMAGE CAPTION STYLES ========== */
.caption {
	clear:both;
	padding-top:1.5em;
	padding-bottom:1.5em;
	/*margin-top:1.5em;*/
	margin-bottom:2.5em;
	color:#393939;
	border-top:#c3c3c3 dotted 2px;
	border-bottom:#c3c3c3 dotted 2px;
}
.caption .caption-date, .caption .caption-author, .caption .caption-tags {
	font-size:11px;
	float:left;
	font-style:italic;
}

.caption .caption-date a:hover, .caption .caption-author a:hover, .caption .caption-tags a:hover {
	color:#a1a1a1;
}
.caption .caption-author {
	margin:0 16px;
}
.caption-title {
	margin-top:30px;
	position:relative;
}
.caption_text .caption-title {
	margin-top:5px;
}
.caption-title h2 {
	margin-bottom:0.75em;
}
.caption .caption-title h2 a:hover, .caption .caption-title h3 a:hover {
	color:#A1A1A1;
}


/* ========== DROPCAPS ========== */
.dropcap {
	color: #5e5e5e;
	float: left;
	font-size:40px;
	line-height:44px;
	margin: 0 10px 0 0;
	padding: 3px 0;
}
.dropcap2 {
	background: url("../images/dropcapspot_2.png") no-repeat scroll 50% 50% transparent;
	color: #f0f0f0;
	float: left;
	text-shadow: none;
	font-size:45px;
	line-height: 1em;
	margin: 0 10px 0 0;
	padding: 10px 15px;
	text-align: center;
}
.dropcap3 {
	background: url("../images/dropcap3.png") no-repeat scroll 50% 50% transparent;
	color: #bfbfbf;
	float: left;
	clear:both;
	font-size:50px;
	line-height: 1em;
	margin: 0 10px 0 0;
	padding: 8px 15px 7px;
	text-align: center;
}
.dropcapspot, .dropcapspot2 {
	background: url("../images/dropcapspot_2.png") no-repeat scroll left center transparent;
	color: #FFFEFE;
	display: block;
	float: left;
	font-size:24px;
	height: 62px;
	line-height: 62px;
	padding-right: 8px;
	position: relative;
	text-align: center;
	text-shadow: -1px 0 0 #1E1E1E;
	top: 6px;
	width: 62px;
}
.dropcapspot2 {
	top:-6px;
}
.dropcapspot3 {
	background: url("../images/dropcapspot3.png") no-repeat scroll left center transparent;
	color: #FFFEFE;
	display: block;
	float: left;
	font-size:18px;
	height: 40px;
	line-height: 38px;
	margin-top:5px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	text-shadow: -1px 0 0 #1E1E1E;
	top: 0;
	width: 40px;
}

/* ========== DIVIDERS ========== */
.divider_content {
	background:url("../images/divider_content.png") no-repeat center;
	height:4px;
	width:100%;
	margin:30px 0 45px 0;
}
/*.divider_content_sidebar {
	border-bottom:#d0d2d8 double 1px;
	height:4px;
	width:100%;
	padding-top:20px;
}*/
.divider_top {
	background: url("../images/square_divider.png") repeat-x scroll center center transparent;
	clear: both;
	position:relative;
	display: block;
	font-size:10px;
	padding: 20px 0;
	width: 100%;
}
.divider_top a {
	border: 0 none;
	cursor: pointer;
	height: 20px;
	font-family: Arial, Verdana, sans-serif;
	outline: medium none;
	position: absolute;
	right: 0;
	top: 0;
}
.divider_bottom {
	background:url("../images/bottom_line.png") no-repeat bottom center;
	width:100%;
	height:4px;
}
.divider_line {
	background:url("../images/bottom_line.png") no-repeat center center;
	width:100%;
	margin:60px 0 50px;
	height:4px;
	clear:both;
	display: block;
}
.divider_padding {
	padding-bottom: 60px;
}
.divider_padding {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
}

/* ========== BIO STYLES ========== */
#bio {
	background:url("../images/bg_bio.png") repeat-x left top #f0f0f0;
	min-height:120px;
	margin-top:3.4em;
	padding:14px 20px;
	border:1px solid #d4d4d4;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 1px 2px 3px rgba(228,228,228,0.8);
	-webkit-box-shadow: 1px 2px 3px rgba(228,228,228,0.8);
	box-shadow: 1px 2px 3px rgba(228,228,228,0.8);
	position:relative;
	behavior: url("js/PIE.htc");
}
.bio_info {
	overflow:hidden;
	display:table;
}
#bio h5 {
	text-shadow:#fafafa 1px 1px 0;
	margin-bottom:1em;
	color:#858585;
}

/* ========== FEATURE TABLES ========== */
table {
	background:#fff;
	margin:0 0 20px 0;
	width:100%;
	position:relative;
	border:1px solid #e8e8e8;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-collapse:inherit;
	-moz-box-shadow:0 1px 3px #e4e4e4;
	-webkit-box-shadow:0 1px 3px #e4e4e4;
	box-shadow:0 1px 3px #e4e4e4;
}
.feature_table thead tr, .table_grey thead tr, .table_dark thead tr, .table_blue thead tr, .table_red thead tr {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-box-shadow:0 1px 3px #e4e4e4;
	-webkit-box-shadow:0 1px 3px #e4e4e4;
	box-shadow:0 1px 3px #e4e4e4;
}
.feature_table thead tr th, .table_grey thead tr th, table_dark thead tr th, .table_blue thead tr th, .table_red thead tr th {
	/*background:url("../images/sprite_table.png") repeat-x #fff;*/
	border-right:1px solid #e7e7e7;
}
.feature_table thead tr th.left_round, .table_grey thead tr th.left_round, .table_dark thead tr th.left_round, .table_blue thead tr th.left_round, .table_red thead tr th.left_round {
	-moz-border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
	border-radius:8px 0 0 8px;
}
.feature_table thead tr th.right_round, .table_grey thead tr th.right_round, .table_dark thead tr th.right_round, .table_blue thead tr th.right_round, .table_red thead tr th.right_round {
	-moz-border-radius:0 8px 8px 0;
	-webkit-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0;
}
.feature_table thead tr th, .table_grey thead tr th, .table_dark thead tr th, .table_blue thead tr th, .table_red thead tr th {
	font-family:Arial, Verdana;
	padding:14px 20px 12px 20px;
	font-size:16px;
	position:relative;
	font-weight:100;
	text-align:left;
	text-shadow:1px 1px #f8f8f8;
	color:#6b6b6b;
	margin:0;
}
.feature_table tbody td, .table_grey tbody td, .table_dark tbody td, .table_blue tbody td, .table_red tbody td {
	margin:0;
	padding:10px 20px;
	font-size:12px;
	color:#6b6b6b;
	border-top:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
}
.feature_table tbody tr:first-child td, .table-grey tbody tr:first-child td, .table-dark tbody tr:first-child td, .table_blue tbody tr:first-child td, .table_red tbody tr:first-child td {
	border-top:none;
}
.feature_table tbody tr td.noborder, .table_grey tbody tr td.noborder, .table-dark tbody tr td.noborder, .table_blue tbody tr td.noborder, .table_red tbody tr td.noborder {
	border-right:none;
}
.feature_table tbody tr:hover, .table_grey tbody tr:hover, .table_dark tbody tr:hover, .table_blue tbody tr:hover, .table_red tbody tr:hover {
	background-color:#ececec;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}

.feature_table tr:hover td, .table_grey tr:hover td, .table_dark tr:hover td, .table_blue tr:hover td, .table_red tr:hover td,  .feature_table tr.even:hover td.active, .table_grey tr.even:hover td.active, .table_dark tr.even:hover td.active, .table_blue tr.even:hover td.active, .table_red tr.even:hover td.active, .feature_table tr.odd:hover td.active, .table.grey tr.odd:hover td.active, .table_dark tr.odd:hover td.active, .table_blue tr.odd:hover td.active, .table_red tr.odd:hover td.active {
	background:#f7f7f7;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}

/* --- Table Grey --- */
table.table_grey thead th {
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
table.table_grey thead tr th.left_round {
	border-left:1px solid #bdbcbd;
}
table.table_grey thead tr th.right_round {
	border-right:1px solid #bdbcbd;
}
/* --- Table Dark --- */
table.table_dark thead th {
	/*background-position: 0 -45px;*/
	font-size:16px;
	border-right:1px solid #595a5a;
	text-shadow:0 -1px #2a2b2b;
	color:#fff;
	background: rgb(117,128,135); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(117,128,135,1) 0%, rgba(45,45,45,1) 94%, rgba(111,111,111,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,128,135,1)), color-stop(94%,rgba(45,45,45,1)), color-stop(100%,rgba(111,111,111,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#758087', endColorstr='#6f6f6f',GradientType=0 ); /* IE6-9 */
}
table.table_dark thead tr th.left_round {
	border-left:1px solid #2b2c2c;
}
table.table_dark thead tr th.right_round {
	border-right:1px solid #2b2c2c;
}
/* --- Table blue --- */
table.table_blue thead th {
	/*background-position: 0 -181px;*/
	font-size:16px;
	border-right:1px solid #698ba3;
	text-shadow:1px 1px #104468;
	color:#fff;
	/* for non-css3 browsers */
	background: rgb(101,135,161); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(101,135,161,1) 0%, rgba(70,104,129,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,135,161,1)), color-stop(99%,rgba(70,104,129,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* IE10+ */
	background: linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6587a1', endColorstr='#466881',GradientType=0 ); /* IE6-9 */
}
table.table_blue thead tr th.left_round {
	border-left:1px solid #1369a4;
}
table.table_blue thead tr th.right_round {
	border-right:1px solid #1369a4;
}
/* --- Table Red --- */
table.table_red thead th {
	font-size:16px;
	border-right:1px solid #6d0903;
	text-shadow:1px 1px #484848;
	color:#fff;
	/* for non-css3 browsers */
	background: #790600;
	/* for IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0900', endColorstr='#5a0500');
	/* for webkit browsers */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8f0900), to(#5a0500), color-stop(.6, #790600));
	/* for firefox 3.6+ */
	background: -moz-linear-gradient(25% 87% 90deg, #5a0500, #790600, #8f0900 100%);/*background-position: 0 0;*/
}
table.table_red thead tr th.left_round {
	border-left:1px solid #490101;
}
table.table_red thead tr th.right_round {
	border-right:1px solid #490101;
}



/***** surreptitious ***/
table.surreptitious {
  border: none;
  	background:transparent;
  	margin:0;
  	width:100%;
  	position:relative;
  	border:none;
  	-moz-border-radius:0;
  	-webkit-border-radius:0;
  	border-radius:0;
  	border-collapse:inherit;
  	-moz-box-shadow:none;
  	-webkit-box-shadow:none;
	box-shadow:none;
	border:none;
}

table.surreptitious thead th, table.surreptitous th {
  background: inherit;
  border-bottom: none;
  color: inherit;
}

table.surreptitious td, table.surreptitious th {
  padding: 4px 8px;
  vertical-align: middle;
}

table.surreptitious th a, table.surreptitious th a:link, table.surreptitious th a:visited {
  text-decoration: underline;
}

table.surreptitious th a {
  display: inline;
}

table.surreptitious th a img {
  margin: 0 0 0 0;
}

table.surreptitious th.active {
  background: inherit;
  border-left: 0;
  border-right: 0;
}

/* Odd & Even Styles */
table.surreptitious tr.even td {
  background: inherit;
}

table.surreptitious tr.odd td {
  background: inherit;
}

table.surreptitious td.active {
  border-left: 0;
  border-right: 0;
}

table.surreptitious tr.even td.active {
  background: inherit;
}

table.surreptitious tr.odd td.active {
  background: inherit;
}

table.surreptitious tr:hover td,
table.surreptitious tr.even:hover td.active,
table.surreptitious tr.odd:hover td.active {
  background: inherit;
}

table.surreptitious td ul.links {
  margin-bottom: 0;
}


/* ========== EMPHASIS BOX STYLES ========== */
.emphasis_box {
	clear:both;
	padding-top:1.5em;
	padding-bottom:1.5em;
	margin-top:3.5em;
	margin-bottom:3.5em;
	color:#393939;
	border-top:#c3c3c3 dotted 2px;
	border-bottom:#c3c3c3 dotted 2px;
}
.emphasis_box .emphasis-date, .emphasis_box .emphasis-author, .emphasis_box .emphasis-tags {
	font-size:11px;
	float:left;
	font-style:italic;
}
.emphasis_box .emphasis-date a:hover, .emphasis_box .emphasis-author a:hover, .emphasis_box .emphasis-tags a:hover {
	color:#a1a1a1;
}
.emphasis_box .emphasis-author {
	margin:0 16px;
}
.emphasis-title {
	margin-top:30px;
	position:relative;
}
.emphasis_text .emphasis-title {
	margin-top:5px;
}
.emphasis-title h2 {
	margin-bottom:0.75em;
}
.emphasis-box .emphasis-title h2 a:hover, .emphasis-box .emphasis-title h3 a:hover {
	color:#A1A1A1;
}

/* ----- Styles for Buttons & LIBRARY ONESEARCH (blue styles) ----- */
.small_button_block .button {
	margin:0 0.5em 1em 0;
}
.medium_button_block {
	margin-top:50px;
}
.medium_button_block .button {
	margin:0 0.5em 1em 0;
}
.large_button_block {
	margin-top:50px;
}
.large_button_block .button {
	margin:0 0.5em 1em 0;
}
.button{
	display: inline-block;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-border-radius:0.5em 0.5em 0.5em 0.5em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-box-shadow: 0 1px 2px rgba(130, 130, 130, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(130, 130, 130, 0.2);
	box-shadow: 0 1px 2px rgba(130, 130, 130, 0.2);
	outline: medium none;
	background: #e4e4e4;
	color:#858585;
	padding: 0.6em 1.5em 0.6em;
	text-shadow:1px 1px 0 #fdfdfd;
	border: 1px solid transparent;
	vertical-align: baseline;
	position:relative;
	behavior: url("js/PIE.htc");
}
.button:active {
	top: 1px;
	position: relative;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.small{
	font-size:1em;
	padding: 0.7em 1.5em 0.6em;
}
.medium {
	font-size:1.333em;
	padding: 0.8em 1.4em 0.7em;
}
.large {
	font-size:1.5em;
	padding: 0.8em 1.4em 0.7em;
}
.align-btn-left {
	float: left;
}
.align-btn-right {
	float: right;
}
.default {
	color:#858585;
	border: 1px solid rgba(202,202,202,0.5);
	text-shadow:1px 1px 0 #fcfcfc;
	background: #e4e4e4;
	-moz-box-shadow: inset 0 1px 0 rgba(249, 249, 249, 1), 0 1px 2px rgba(130, 130, 130, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(249, 249, 249, 1), 0 1px 2px rgba(130, 130, 130, 0.3);
	box-shadow: inset 0 1px 0 rgba(249, 249, 249, 1), 0 1px 2px rgba(130, 130, 130, 0.3);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e3e3e3));
	background: -moz-linear-gradient(top, #f3f3f3, #e3e3e3);
	background: -o-linear-gradient(rgb(243,243,243), rgb(228,228,228));
	/*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e3e3e3');*/
	position:relative;
	behavior: url("js/PIE.htc");
}
a.default:link, a.default:visited, a.default:hover {
	color:#000;
}
.dark {
	color:#f1f1f1;
	border: 0px solid rgba(111,111,111,0.2);
	text-shadow:1px 1px 0 rgba(45,45,45,1);
	background: rgb(117,128,135); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(117,128,135,1) 0%, rgba(45,45,45,1) 94%, rgba(111,111,111,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,128,135,1)), color-stop(94%,rgba(45,45,45,1)), color-stop(100%,rgba(111,111,111,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(117,128,135,1) 0%,rgba(45,45,45,1) 94%,rgba(111,111,111,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#758087', endColorstr='#6f6f6f',GradientType=0 ); /* IE6-9 */
	position:relative;
	behavior: url("js/PIE.htc");
}
a.dark:link, a.dark:visited, a.dark:hover {
	color:#f1f1f1;
}
.light {
	border: 1px solid #ccc;
	position:relative;
	behavior: url("js/PIE.htc");
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,238,242,1) 46%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(46%,rgba(237,238,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,238,242,1) 46%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,238,242,1) 46%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,238,242,1) 46%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,238,242,1) 46%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeef2',GradientType=0 ); /* IE6-9 */

}
.ui-widget-content{
	border: 1px solid #ccc;
}
a.light:link, a.light:visited, a.light:hover {
	color:#242424;
}
.red {
	color:#f1f1f1;
	border: 1px solid rgba(134,27,27,0.2);
	text-shadow:1px 1px 0 #943636;
	background: #900900; /* Old browsers */
	background: -moz-linear-gradient(top,  #900900 0%, #560500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#900900), color-stop(100%,#560500)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #900900 0%,#560500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #900900 0%,#560500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #900900 0%,#560500 100%); /* IE10+ */
	background: linear-gradient(top,  #900900 0%,#560500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#900900', endColorstr='#560500',GradientType=0 ); /* IE6-9 */
	position:relative;
	behavior: url("js/PIE.htc");
}
a.red:link, a.red:visited, a.red:hover{
	color:#fff;
}
.blue{
	color:#f1f1f1;
	border: 1px solid rgba(255,255,255,0.2);
	text-shadow:1px 1px 0 #24658e;
	background: rgb(101,135,161); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(101,135,161,1) 0%, rgba(70,104,129,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,135,161,1)), color-stop(99%,rgba(70,104,129,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* IE10+ */
	background: linear-gradient(top,  rgba(101,135,161,1) 0%,rgba(70,104,129,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6587a1', endColorstr='#466881',GradientType=0 ); /* IE6-9 */
	position:relative;
	behavior: url("js/PIE.htc");
}
a.blue:link, a.blue:visited, a.blue:hover{
	color:#f1f1f1;
	text-decoration:none;
}
.button:hover {
	background: #f3f3f3;
}
.dark:hover {
	background: #2d2d2d;
}
.light:hover{
	background: #edeef2;
}
.red:hover  {
	background: #900900;
}
.blue:hover{
	background: #466881; 
}


/* ----- Columns Styles ----- */
.columns, .columns2, .columns3, .columns4, .columns5, .columns6, .columns7, .columns8, .columns9, .columns10, .columns11, .columns12, .columns13, .columns14, .columns15, .columns16 {
	width:auto;
	margin-bottom:2em;
}
.column {
	width:auto;
	float:left;
	position:relative;
}